{% extends "employee/base.html" %}
{% block content %}
<table class="table table-primary table-striped">
    <tr>
        <th>Sl. No.</th>
        <th>Employee ID</th>
        <th>Name</th>
        <th>Email ID</th>
        <th>Role</th>
        <th>Department</th>
        <th>Actions</th>
    </tr>
    {% for employee in employees %}
    <tr>
        <td>{{ employee.id }}</td>
        <td>{{ employee.emp_id }}</td>
        <td>{{ employee.name }}</td>
        <td>{{ employee.email_id }}</td>
        <td>{{ employee.role }}</td>
        <td>{{ employee.dept}}</td>
        <td>
            <a href="{% url 'emp-update' employee.pk %}" class="btn btn-warning btn-sm">Edit</a>
            <a href="{% url 'emp-delete' employee.pk %}" class="btn btn-danger btn-sm">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}