{% extends "employee/base.html" %}
{% block content %}
<table class="table table-primary table-striped">
    <tr>
        <th>Sl. No.</th>
        <th>Employee ID</th>
        <th>Name</th>
        <th>Email ID</th>
        <th>Role</th>
        <th>Department</th>
    </tr>
    <tr>
        <td>1</td>
        <td>PM-001</td>
        <td>Akshay Rao</td>
        <td>akshay@gmail.com</td>
        <td>Web Developer</td>
        <td>Development</td>
    </tr>
    <tr>
        <td>2</td>
        <td>PM-002</td>
        <td>Ajay Rao</td>
        <td>ajay@gmail.com</td>
        <td>QA Engineer</td>
        <td>QA</td>
    </tr>
</table>
{% endblock %}